[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wikipedia = "*"
sumy = "*"
bs4 = "*"
torch = "*"
transformers = "*"
gensim = "==3.6.0"
tokenizer = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.10"
