[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wikipedia = "*"
sumy = "*"
bs4 = "*"
torch = "*"
transformers = "*"
gensim = "==3.6.0"
tokenizer = "*"
validators = "*"
wordcloud = "*"
sentencepiece = "*"
protobuf = "==3.20.*"
matplotlib-venn = "*"
matplotlib-venn-wordcloud = "*"
numpy = "<1.24"
geneview = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
