.url-holder{
    margin-left: 30px;
    margin-right: 30px;
}

.center{
  text-align:center;
}

.radios{
  margin-left: 40%;
}

.option-input{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
}

.option-data{
  margin-right: 30px;
  margin-left: 10px;
}
